.upload {
  grid-area: a;
  align-self: center;
  justify-self: center;
  color: #012169;
}

.uploadicon {
  padding: 13px;
  padding-left: 23px;
}


#outerline {
  width: 310px;
  height: 85px;
  border-style: dashed;
  border-color: #555;
  opacity: 0.9;
  border-width: 2px;
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 8px;
}

.dropimagemess {
  padding-top: 18px;
  font-size: 14px;
}

.nofilecls {
  min-width: 20vw;
  font-size: 12px;
  margin-top: 4px;
  margin-left: -1px;
}
