<div class="contain">
     <form [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">
          <div class="wrapper">
               <div class="form">
                    <div class="full-width">
                         <label for="">Enter AIT</label>
                         <mat-form-field appearance="outline">
                              <mat-select placeholder="Select" (selectionChange)="onChange('Ait', $event)">
                                   <mat-option value="">Select</mat-option>
                                   <mat-option *ngFor='let da of Aitdata' [value]='da.id'
                                        (click)="getInnerText('Ait', da)">
                                        {{da.name}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                         <div class="textarea">
                              <mat-chip-list #chipList aria-label="Fruit selection" formControlName="Ait">
                                   <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove('Ait', fruit)">
                                        {{fruit.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                   </mat-chip>
                              </mat-chip-list>
                         </div>
                    </div>

                    <div class="full-width">
                         <label for="">Enter Cls</label>
                         <mat-form-field appearance="outline">
                              <mat-select placeholder="Select" (selectionChange)="onChange('Cls', $event)">
                                   <mat-option value="">Select</mat-option>
                                   <mat-option *ngFor='let da of Cls' [value]='da.id' (click)="getInnerText('Cls', da)">
                                        {{da.name}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                         <div class="textarea">
                              <mat-chip-list #chipList aria-label="Fruit selection" formControlName="Cls">
                                   <mat-chip *ngFor="let fruit of ClsFruits" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove('Cls', fruit)">
                                        {{fruit.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                   </mat-chip>

                              </mat-chip-list>
                         </div>
                    </div>


                    <div class="full-width">
                         <label for="">Notes</label>
                         <textarea class='notes' rows="10" formControlName="Notes"></textarea>
                    </div>

                    <div class="full-width">
                         <label for="">Enter Categories</label>
                         <mat-form-field appearance="outline">
                              <mat-select placeholder="Select" formControlName="Catgories">
                                   <mat-option value="">Select</mat-option>
                                   <mat-option value="Car">Car</mat-option>
                                   <mat-option value="Bike">Bike</mat-option>
                                   <mat-option value="Bus">Bus</mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>

               </div>

               <div class="contacts">


                    <label for="">Enter Look Back Date / Range</label>
                    <mat-form-field appearance="outline">
                         <mat-select placeholder="Select" formControlName="DateRang">
                              <mat-option value="">Select</mat-option>
                              <mat-option value="Car">Car</mat-option>
                              <mat-option value="Bike">Bike</mat-option>
                              <mat-option value="Bus">Bus</mat-option>
                         </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="date-form-field" color="primary">
                         <mat-date-range-input [rangePicker]="rangePicker" formGroupName="SelRange">
                              <input matStartDate placeholder="Start date" formControlName="start" readonly>
                              <input matEndDate placeholder="End date" formControlName="end" readonly>
                         </mat-date-range-input>
                         <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                         <mat-date-range-picker (opened)="streamOpened($event)" class="endDate" #rangePicker
                              [calendarHeaderComponent]="custumHeader">
                         </mat-date-range-picker>
                    </mat-form-field>
               </div>
          </div>
          <div class="actions">
               <span>
                    <button type="submit">Search</button>
               </span>
               <span>
                    <button type="reset">Reset</button>
               </span>
          </div>
     </form>
</div>