<div class="contact-wrapper">
	<div class="header">
		<mat-card>
			<span style="padding-right: 1em;">
				Do the results look good?
			</span>
			<!-- <mat-icon svgIcon="unicorn" style="color: blue;"></mat-icon> -->
			<span class="thumbs">
				<mat-icon>thumb_up</mat-icon>
				&nbsp;
				<mat-icon>thumb_down</mat-icon>
			</span>
		</mat-card>
	</div>

	<div class="sidebar">
		<div style="background-color:#fff">
			<div class="selected">
				<p style="font-size: 13pt;">Selected</p>
			</div>
			<div *ngIf="toggleFlag; else editBlock">
				<mat-list>
					<mat-list-item>
						<span>
							Application : ['68']
							&nbsp;
							<mat-icon [inline]="true" class="micon" (click)="showlabel()">edit
							</mat-icon>
						</span>
					</mat-list-item>
					<mat-list-item> Cls impacted : No input </mat-list-item>
					<mat-list-item> Search Text: wesdfsdfsdfs </mat-list-item>
					<mat-list-item> Search Tags: ['Data'] </mat-list-item>
					<mat-list-item> Incident Date: 02.02.2021 </mat-list-item>
				</mat-list>
				<br>
			</div>
			<!-- Show on click edit -->
			<ng-template #editBlock>
				<div>
					<mat-list>
						<mat-list-item>
							<mat-form-field class="example-chip-list">
								<mat-label>Favorite Fruits</mat-label>
								<mat-chip-list #chipList aria-label="Fruit selection">
									<mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
										[removable]="removable" (removed)="remove(fruit)">
										{{fruit}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl"
										[matAutocomplete]="auto" [matChipInputFor]="chipList"
										[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
										(matChipInputTokenEnd)="add($event)">
								</mat-chip-list>
								<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
									<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
										{{fruit}}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</mat-list-item>

						<mat-list-item>
							<mat-icon [inline]="true" (click)="showlabel()" class="micon">edit</mat-icon>
						</mat-list-item>
					</mat-list>
				</div>
			</ng-template>
		</div>

		<div class="example-flex-container">
			<button mat-flat-button>Cancel</button>
			<button mat-flat-button color="primary">Apply Changes</button>
		</div>
	</div>
	<div class="content">
		<mat-card class="hint-card">
			<div class="wrapper">
				<div class="box d">
					<span class="info" style="padding-top: 25px;">
						<mat-icon inline=true style="font-size: 50px;color: blue;">navigate_before
						</mat-icon>
					</span>

					<span class="info" style="position: absolute;top: 10px;">
						<mat-icon style="color: red;font-size: 26px;" inline=true>info
						</mat-icon>
					</span>
					&nbsp;
					&nbsp;
					<span class="info" style="position: absolute;">
						<ol start="5">
							<li>
								<p>
									<b>ClAIMS CORE SERVICES LAYER</b> has expired certificates: <br>
									<b>CCSLBANKOFAMERICA.COM</b> expired on <b>2020-03-15</b>
								</p>
							</li>
							<li>
								<p>
									<b>EQSONDEMAND</b> has expired certificates: <br>
									<b>PRESIDIO.EMEA.BANKOFAMERICA.COM</b> expired on <b>2019-11-14</b>
								</p>
							</li>
						</ol>
					</span>
				</div>

				<div class="box f">
					<span>
						<label for="Export ">Export as:</label>
						<button mat-flat-button class="exp">CSV</button>
						&nbsp;
						<button mat-flat-button class="exp">Excel</button>
					</span>
				</div>
			</div>
		</mat-card>
	</div>
</div>