.sidebar {
	grid-area: sidebar;
	min-width: 100px;
	// background-color: #fff;
}

.example-flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0.5em;
	font-size: 24px;
	> button {
		width: 40%;
	}
}

.selected {
	padding-left: 8px;
	border-bottom: 1px solid black;
	padding-top: 10px;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
	* {
		color: #4267b2;
		font-size: 13pt;
		font-weight: 500;
	}
}

.thumbs {
	padding: 12px;
	font-size: 20px !important;
	position: absolute;
	top: 4px;
}
.contact-wrapper {
	display: grid;
	grid-gap: 40px;
	grid-template-areas:
		"header"
		"sidebar"
		"content";
}

.micon {
	color: blue;
	cursor: pointer;
}

@media (min-width: 30rem) {
	.contact-wrapper {
		margin-top: 5px;
		grid-template-columns: 23em 120px;
		grid-template-rows: auto;
		grid-template-areas:
			"header  ...... ....... "
			"sidebar content content";
	}
}

::ng-deep {
	.mat-card {
		border-radius: 0px !important;
		padding-left: 8px !important;
	}

	.mat-list-item-content {
		padding: 5px 10px !important;
	}

	.mat-flat-button {
		border-radius: 0px !important;
	}
}

// Hints
.hint-card {
	background-color: #f5f8ff !important ;
}
.wrapper {
	display: grid;
	column-gap: 4px;
	grid-template-columns: repeat(4, [col] 150px);
	// grid-template-rows: repeat(3, [row] auto);
	color: #444;
	background-color: #f5f8ff !important ;
}

.box {
	color: black;
}

.d {
	grid-column: col / span 6;
	grid-row: auto;
	align-self: stretch;
}

.f {
	grid-column: col 6 / span 6;
	grid-row: auto;
}

.info {
	display: inline-block;
}

.exp {
	background-color: #ededed;
	width: 84px;
	height: 48px;
}
