<div class="contact-wrapper">
	<div class="header">
		<mat-card>
			<span style="padding-right: 1em;">
				Do the results look good?
			</span>
			<!-- <mat-icon svgIcon="unicorn" style="color: blue;"></mat-icon> -->
			<span class="thumbs">
				<mat-icon>thumb_up</mat-icon>
				&nbsp;
				<mat-icon>thumb_down</mat-icon>
			</span>
		</mat-card>
	</div>

	<div class="sidebar">
		<div class="selected">
			<p style="font-size: 13pt;">Selected</p>
		</div>
		<div>
			<mat-list>
				<mat-list-item>
					<span>
						Application : ['68']
						&nbsp;
						<mat-icon [inline]="true" style="color: blue;">edit</mat-icon>
					</span>
				</mat-list-item>
				<mat-list-item> Cls impacted : No input </mat-list-item>
				<mat-list-item> Search Text: wesdfsdfsdfs </mat-list-item>
				<mat-list-item> Search Tags: ['Data'] </mat-list-item>
				<mat-list-item> Incident Date: 02.02.2021 </mat-list-item>
			</mat-list>
		</div>
	</div>
	<div class="content">
		<mat-card>Simple card3</mat-card>
	</div>
</div>