<div class="contact-wrapper">
	<div class="header">
		<mat-card>
			<span style="padding-right: 1em;">
				Do the results look good?
			</span>
			<!-- <mat-icon svgIcon="unicorn" style="color: blue;"></mat-icon> -->
			<span class="thumbs">
				<mat-icon>thumb_up</mat-icon>
				&nbsp;
				<mat-icon>thumb_down</mat-icon>
			</span>
		</mat-card>
	</div>

	<div class="sidebar">
		<div style="background-color:#fff">
			<div class="selected">
				<p style="font-size: 13pt;">Selected</p>
			</div>
			<div *ngIf="toggleFlag; else editBlock">
				<mat-list>
					<mat-list-item>
						<span>
							Application : ['68']
							&nbsp;
							<mat-icon [inline]="true" class="micon" (click)="showlabel()">edit
							</mat-icon>
						</span>
					</mat-list-item>
					<mat-list-item> Cls impacted : No input </mat-list-item>
					<mat-list-item> Search Text: wesdfsdfsdfs </mat-list-item>
					<mat-list-item> Search Tags: ['Data'] </mat-list-item>
					<mat-list-item> Incident Date: 02.02.2021 </mat-list-item>
				</mat-list>
				<br>
			</div>
			<!-- Show on click edit -->
			<ng-template #editBlock>
				<div>
					<mat-list>
						<mat-list-item>
							<mat-form-field class="example-chip-list">
								<mat-label>Favorite Fruits</mat-label>
								<mat-chip-list #chipList aria-label="Fruit selection">
									<mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
										[removable]="removable" (removed)="remove(fruit)">
										{{fruit}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl"
										[matAutocomplete]="auto" [matChipInputFor]="chipList"
										[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
										(matChipInputTokenEnd)="add($event)">
								</mat-chip-list>
								<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
									<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
										{{fruit}}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</mat-list-item>

						<mat-list-item>
							<mat-icon [inline]="true" (click)="showlabel()" class="micon">edit</mat-icon>
						</mat-list-item>
					</mat-list>
				</div>
			</ng-template>
		</div>

		<div class="example-flex-container">
			<button mat-flat-button>Cancel</button>
			<button mat-flat-button color="primary">Apply Changes</button>
		</div>
	</div>
	<div class="content">
		<mat-card>Simple card3</mat-card>
	</div>
</div>